{
  "presets": [
    "@babel/typescript"
  ],
  "plugins": [
    [
      "transform-es2015-modules-simple-commonjs",
      {
        "noInterop": true
      }
    ],
    "@babel/plugin-transform-arrow-functions",
    "@babel/plugin-transform-function-name",
    "@babel/plugin-transform-spread",
    "@babel/plugin-transform-parameters",
    "@babel/plugin-transform-shorthand-properties"
  ]
}
