{
  "presets": ["@babel/preset-typescript"],
  "plugins": [
    [
      "@babel/plugin-transform-modules-commonjs",
      {
        "noInterop": true
      }
    ],
    "@babel/plugin-transform-arrow-functions",
    "@babel/plugin-transform-function-name",
    "@babel/plugin-transform-spread",
    "@babel/plugin-transform-parameters"
  ]
}
